* {
  font-family: "cardea", serif;
}

body {
  margin: 0;
}

/* Sale sections */
#background {
  background-color: white;
}

.intro-start {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 120px 400px;
  align-items: center;
}

#stars-intro {
  justify-content: start;
  font-size: 20px;
}

.star-intro {
  color: #999900;
}

.under-text {
  letter-spacing: 0.2rem;
  font-size: 20px;
  font-weight: 500;
  color: #59394e;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-style: italic;
}

.headers {
  font-weight: 500;
  font-size: 45px;
  letter-spacing: 0.1rem;
  color: #59394e;
  margin-top: 0;
  margin-bottom: 0;
}

.paragrafs {
  color: #59394e;
  font-size: 14px;
  max-width: 70%;
}

.intro-pic {
  width: 20rem;
}

@media screen and (max-width: 1200px) {
  .intro-start {
    flex-direction: column;
  }
  .intro-pic {
    width: 15rem;
  }
  .intro-pics {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1910px) {
  .intro-start {
    padding: 120px 300px;
  }
}
@media screen and (max-width: 1800px) {
  .intro-start {
    padding: 120px 200px;
  }
}

.button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 10px;
  text-decoration: none;
}

/* Buttons css */
.normal-button {
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
  padding: 10px;
  color: #f2f2f2;
  border-radius: 10px;
  background: linear-gradient(to right, #0d0e26 50%, #59394e 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.normal-button:hover {
  letter-spacing: 3px;
  background-position: left bottom;
}

/* Navbar CSS */
.navbar {
  width: 100%;
  z-index: 200;
  position: fixed;
}

/* solid navbar */
.solid-nav {
  width: 100%;
  background-color: #56588c;
  transition: background-color 0.2s linear;
  -webkit-text-stroke: 0rem black;
  box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.55);
  height: 6rem;
}

.Content-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

.img-logo {
  width: 80px;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: #f2f2f2;
  transition: all 0.4s ease-in-out;
}

.link:hover {
  color: #2e4159;
}

.info-color-nav {
  color: #0d0e26;
}

.info-color-nav:hover {
  color: #59394e;
}

.links {
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

/*CSS kult bilde*/
.kultbilde {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./image/test2.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 70vh;
  justify-content: center;
}

input {
    margin-bottom: 1rem;
    border: none;
    appearance: none;
    padding: 12px 12px;
    border-radius: 10px;
    background: #f2f2f2;
    outline: none;
    display: flex;
    width: 10rem;
}

input::placeholder {
    transition: color 1s;
}

input:focus::placeholder {
    color: transparent;
}

label {
  color: #f2f2f2;
  font-size: 13px;
}

.nameInput {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.kult {
  color: #f2f2f2;
  text-align: center;
}

.inputBirth {
  width: 27em;
}

@media screen and (max-width: 530px) {
  .nameInput {
    flex-direction: column;
    align-items: center;
  }
  .kultbilde {
    height: 110vh;
  }
  .inputBirth {
    width: 160px;
  }
  .kult:nth-child(2) {
    font-size: 0.9rem;
  }
  .kult:nth-child(1) {
    font-size: 1.2rem;
  }
}

/* main page */

#bodyM {
    width: 100vw;
}
#mainM {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#shipM {
    width: 100vw;
    display: flex;
    justify-content: center;
}
#nameM {
    position: relative;
    z-index: 50;
    top: -40vw;
    font-size: 5vw;
    background-color: white;
    border: black;
    border-style: solid;
    width: 60vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px;
}
#joinM {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h2M {
    font-size: 5em;
}


/* history page */

#mainH {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}
#logoH {
    max-width: 20vw;
    margin-top: 10vh;
    margin-left: 5vw;
}
#headH {
    height: 7vh;
    display: flex;
    align-items: end;
    font-size: 32pt;
}
.txtH {
    width: 70vw;
    display: flex;
    align-items: end;
    justify-content: center;
}
#storyTxtH {
    font-size: 1.5em;
}
#moodboardH {
    width: 70vw
}